blinker==1.8.2
build==1.2.2.post1
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorclass==2.2.2
Deprecated==1.2.18
dnspython==2.7.0
docopt==0.6.2
email_validator==2.2.0
flake8==7.1.0
Flask==3.0.3
Flask-Limiter==3.11.0
Flask-WTF==1.2.2
Font-Awesome-Flask==0.1.4
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
httplib2==0.22.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
limits==4.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
oauthlib==3.2.2
ordered-set==4.1.0
packaging==24.1
pip-upgrader==1.4.15
pluggy==1.5.0
proto-plus==1.24.0
protobuf==5.27.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.12.0
pyflakes==3.2.0
Pygments==2.19.1
pyparsing==3.1.2
pyproject_hooks==1.2.0
pytest==8.2.2
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.9
setuptools==75.8.2
terminaltables==3.1.10
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.2
Werkzeug==3.0.6
wheel==0.45.1
wrapt==1.17.2
WTForms==3.2.1
