:root {
  --qBlue: #02415d;
  --white: #ffffff;
  --grey: #b6b0b0f5;
}

body {
  /* background-color: #e6e6e6; */
  background-color: var(--white);
}

#navbar {
  background-color: var(--qBlue);
  color: var(--white);
}

#navbar-logo {
  width: 75px;
  height: 75px;
  margin-left: 15px;
}

.nav-link {
  color: var(--white);
  margin-right: 20px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

/* Aligns links to the right in mobile mode */
@media (max-width: 991.98px) {
  #navbar-links .navbar-nav {
      text-align: right;
      /* padding-right: 15px; */
  }
}

/*Header CSS*/

#home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#header_logo {
  max-height: 350px;
  max-width: 350px;
}

.parallax {
    /* The image used */
    background-image: url('header/header_img.webp');

    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Projects CSS*/
#projects {
  padding-top: 100px;
  margin-top: -80px
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}
.container h3 {
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 15px;
  margin-top: -50px;
  margin-left: 64px;
  margin-right: 77px;
  color: var(--qBlue);
  /* background-color: var(--qBlue); */
  font-weight: bold;
  font-size: 20px;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--white);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--qBlue);
  font-size: 12px;
  padding: 5px 100px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: inline-block;;
  clear: both;
}

/* Six columns side by side */
.column {
  width: 12.5%;
  display: inline-block;
  margin-top: 1em;
  text-align: center;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*About CSS*/
#about { /*Targets the card now*/
  padding-top: 100px;
}

.card {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: fit-content;
  /* margin: 2em; */
  color: #050505;
}

.card-body {
  padding: 10px;
  text-align: center; /*added to make the text left aligned.*/
}


/*Contact CSS*/
#contact {
  display: flex; 
  justify-content: center; /* Horizontally centers the content within the container */
  padding-top: 100px;
}

.form-wrapper {
  border: none; /* Remove the previous border style */
  border-radius: 10px; /* Add rounded corners with 10px radius */
  background-color: var(--qBlue); /* Set background color */
  padding: 20px; /* Add padding for spacing within the form */
  color: var(--white); /* Add white text color for better contrast on dark background */
}

#noShare {
  margin-top: 20px;
  margin-bottom: 15px;
  color: var(--white);
}

/*Footer CSS*/
#footer {
  background-color: var(--qBlue);
  color: var(--white);
}

#socials {
  float: right;
  margin: auto;
  padding-top: 5%;
  font-size: 30px;
}
