body {
  /* background-color: #e6e6e6; */
  background-color: #ffffff;
}
/*Navbar CSS*/

#navbar {
  background-color: #02415d;
  color: #FFFFFF;
  }

#navbar-logo{
  width: 75px;
  height: 75px;
  margin-left: 15px;
}

#navbar-links {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.nav-link {
  color: #ffffff;
}
/*Header CSS*/

#home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#header_logo {
  max-height: 350px;
  max-width: 350px;
}

.parallax {
    /* The image used */
    background-image: url('header/header_img.webp');

    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Projects CSS*/
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}
.container h3 {
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  margin-left: 162px;
  margin-right: 173px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #02415d;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #02415d;
  font-size: 12px;
  padding: 8px 180px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  width: 12%;
  display: table;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/*About CSS*/
.card {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: fit-content;
  margin: 4em;
  text-align: center;
  color: #050505;
  /* background-color: #02415d */
}
/*Contact CSS*/

#contact {
  display: flex; 
  justify-content: center; /* Horizontally centers the content within the container */
  padding-top: 50px;
}

.form-wrapper {
  border: none; /* Remove the previous border style */
  border-radius: 10px; /* Add rounded corners with 10px radius */
  background-color: #02415d; /* Set background color */
  padding: 20px; /* Add padding for spacing within the form */
  color: #fff; /* Add white text color for better contrast on dark background */
}

#noShare {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #FFFFFF;
}
/*Footer CSS*/

#footer {
  background-color: #02415d;
  color: #FFFFFF;
}

#socials {
  float: right;
  margin: auto;
  padding-top: 5%;
  font-size: 23px;
}