<div id="about">
    <div class="w3-container w3-padding-32 w3-center" >
      <div class="w3-padding-16">
          <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
          <p>We design and install putting greens and artificial grass projects throughout the State of Washington, 
            including Seattle, Tacoma, Bellevue, Kirkland, Gig Harbor, Bothell, Renton, Issaquah, Redmond, Sammamish, 
            Snoqualmie Valley, and surrounding communities.
          </p>
      </div>
    </div>
</div>
