<!-- <div class="card" id="about">  <div class="card-header">
        <h3>About</h3>
    </div>
    <div class="card-body">
        <p>We design and install putting greens and artificial grass projects throughout the State of Washington,
            including Seattle, Tacoma, Bellevue, Kirkland, Gig Harbor, Bothell, Renton, Issaquah, Redmond, Sammamish,
            Snoqualmie Valley, and surrounding communities.
        </p>
    </div>
</div>
-->

<div class="container" id="about">
  <div class="card custom-card">
      <div class="card-header">
          <h3>About</h3>
      </div>
      <div class="card-body">
          <p>We design and install putting greens and artificial grass projects throughout the State of Washington,
              including Seattle, Tacoma, Bellevue, Kirkland, Gig Harbor, Bothell, Renton, Issaquah, Redmond, Sammamish,
              Snoqualmie Valley, and surrounding communities.
          </p>
      </div>
  </div>
</div>