<div class="container" id="about">
  <div class="card custom-card">
      <div class="card-header">
          <h3>About</h3>
      </div>
      <div class="card-body">
          <p>At Green's on Q, we are dedicated to providing exceptional synthetic golf and putting 
            greens with meticulous attention to detail. We are committed to delivering championship-level 
            design and installation using USA-manufactured synthetic turf products for golf enthusiasts and 
            golf professionals looking to improve their short game from the comfort of home, at their golf 
            course or golf training facilities.
          </p>
      </div>
  </div>
</div>