<div class="container-fluid" id="contact">
  <form name="Qcontactform"  method="POST" action="{{ url_for('submit') }}" id="contactForm">
    <div class="form-wrapper">  
      <div>
        <h1>Contact Us</h1>
      </div>
      {% if error %}
                <p style="color: red;">{{ error }}</p>
      {% endif %}
      <div class="mb-3">
        <i class="fa fa-user icon"></i>
        <label for="name" class="form-label"> Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter your name" required>
      </div>
      <div class="mb-3">
        <i class="fa fa-envelope icon"></i>
        <label for="email" class="form-label"> Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
      </div>
      <div class="mb-3">
        <i class="fa fa-phone icon"></i>
        <label for="phone" class="form-label"> Phone Number</label>
        <input type="tel" class="form-control" name="phone" aria-describedby inputmode="numeric" placeholder="Enter your phone number" required>
      </div>
      <div class="mb-3">
        <i class="fa fa-pen icon"></i>
        <label for="message" class="form-label"> Message</label>
        <textarea class="form-control" name="message" rows="3" placeholder="Write your message here" required></textarea>
      </div>
        <div id="noShare" class="form-text">We'll never share your contact information with anyone else.</div>
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
</div>

<script>
  document.getElementById('submitButton').addEventListener('click', function(event) {
      const phone = document.getElementById('phone').value;
      const phoneRegex = /^\+?\d{7,15}$/;

      if (!phoneRegex.test(phone)) {
          event.preventDefault();
          document.getElementById('phoneError').style.display = 'inline';
      } else {
          document.getElementById('phoneError').style.display = 'none';
      }
  });

  {% if error_field %}
      document.addEventListener('DOMContentLoaded', function() {
          document.getElementById('contact').scrollIntoView();
          document.getElementById('{{ error_field }}').focus(); // Optionally focus the error field
      });
  {% endif %}
</script>
<br/>