<div id="footer">
    <footer class="container-fluid p-3 text-center" >
      <div class="row">
        <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <p>&copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved</p>
            <p><a href="https://www.celebritygreens.com/" title="Celebrity Greens" target="_blank" class="text-decoration-none text-light">A Celebrity Greens Affiliate</a></p>       
          </div>
          <div class="col-md-4">
            <div id="socials">
             <a href="https://www.instagram.com/greensonq/"><i class="fa-brands fa-instagram"></i></a>
             <a href="https://www.facebook.com/people/Greens-on-Q/61557879460436/"><i class="fa-brands fa-facebook"></i></a>
             <a href="https://www.youtube.com/@celebritygreens9697"><i class="fa-brands fa-youtube"></i></a>
             <a href="https://www.linkedin.com/company/greens-on-q/"><i class="fa-brands fa-linkedin"></i></a>
          </div> 
          </div>
      </div>
    </footer>
</div>