<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="{{ url_for('static', filename='header/header_1.jpg')}}" alt="GreensbyQ" id="header_image">
    <div class="w3-display-middle w3-margin-top w3-center">
      <!-- <h1 class="w3-xxlarge w3-text-white"> <span class="w3-hide-small w3-text-light-grey"></span></h1> -->
      <img class="w3-image" src="{{ url_for('static', filename='logo/Black_logo_no_background.png') }}" id="header_logo">
    </div>
  </header>