<div class="navbar navbar-expand-lg fixed-top navbar-brand">
    <div class="navbar navbar-expand-lg fixed-top" id="navbar">
      <a href="#home"><img class="img-fluid " src="{{ url_for('static', filename='logo/Color_logo_with_background.png') }}" id="navbar-logo"></a>
      <div id="socials">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
      </div>  
      <div class="text-end nav" id="navbar-links">
        <a href="#projects" class="nav-link">Projects</a>
        <a href="#about" class="nav-link">About</a>
        <a href="#contact" class="nav-link">Contact</a>
      </div>
    </div>
  </div>
  