<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-wide w3-padding w3-card" id="navbar">
      <a href="#home"><img class="w3-image" src="{{ url_for('static', filename='logo/Color_logo_with_background.png') }}" id="navbar-logo"></a>
      <div class="w3-right " id="navbar-links">
        <a href="#projects" class="w3-bar-item w3-button">Projects</a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      </div>
    </div>
  </div>