<div class="container" id="projects">
    <h3>Projects</h3>
</div>

<div class="container">
    {% set image_data = [
        ('IMG_7053.jpg'),
        ('IMG_7055.jpg'),
        ('IMG_7162.jpg'),
        ('IMG_0579.JPG'),
        ('IMG_0580.JPG'),
        ('IMG_0582.JPG'),
        ('IMG_0079.JPG'),
        ('IMG_7163.jpg')
    ] %}

    {% for filename in image_data %}
        <div class="mySlides">
            <img src="{{ url_for('static', filename='projects/' + filename) }}">
        </div>
    {% endfor %}

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="row">
        {% for filename in image_data %}
            <div class="column">
                <img class="demo cursor" src="{{ url_for('static', filename='projects/' + filename) }}" style="width:100%" onclick="currentSlide({{ loop.index }})" alt="{{ alt_text }}">
            </div>
        {% endfor %}
    </div>
</div>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("demo");
        let captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>